<%= render "header" %>
    <div class="main_splash">
      <div class="container">
        <center>
          <img class="lb-image" src="<%= asset_path("tagxedo.png")%>" style="display: block; width:max">
        </center>
      </div>
    </div>
    <div class="container">
      <div class="row">
      <%= render "presentation" %>
      </div>
      <div class="row">
      <%= render "portfolio" %>
      </div>
      <div class="row">
      <%= render "about" %>
      </div>
      <div class="row">
      <%= render "links" %>
      </div>
    </div>
<%= render "footer" %>